// @font-face
@font-face {
    font-family: "Tw Cen MT";
    src: url('/../font/Tw-Cen-MT.eot');
    src: url('/../font/Tw-Cen-MT.eot?#iefix') format('embedded-opentype'),
        url('/../font/Tw-Cen-MT.woff2') format('woff2'),
        url('/../font/Tw-Cen-MT.woff') format('woff'),
        url('/../font/Tw-Cen-MT.ttf') format('truetype');
    font-weight: normal;
}
@font-face {
    font-family: "Tw Cen MT";
    src: url('/../font/Tw-Cen-MT-Bold.eot');
    src: url('/../font/Tw-Cen-MT-Bold.eot?#iefix') format('embedded-opentype'),
        url('/../font/Tw-Cen-MT-Bold.woff2') format('woff2'),
        url('/../font/Tw-Cen-MT-Bold.woff') format('woff'),
        url('/../font/Tw-Cen-MT-Bold.ttf') format('truetype');
    font-weight: bold;
}
@font-face {
    font-family: "Butler";
    src: url('/../font/Butler_Ultra_Light.woff2') format('woff2'),
        url('/../font/Butler_Ultra_Light.woff') format('woff'),
        url('/../font/Butler_Ultra_Light.ttf') format('truetype');
    font-weight: 100;
}
@font-face {
    font-family: "Butler";
    src: url('/../font/Butler_Light.woff2') format('woff2'),
        url('/../font/Butler_Light.woff') format('woff'),
        url('/../font/Butler_Light.ttf') format('truetype');
    font-weight: 300;
}
@font-face {
    font-family: "Butler";
    src: url('/../font/Butler_Regular.woff2') format('woff2'),
        url('/../font/Butler_Regular.woff') format('woff'),
        url('/../font/Butler_Regular.ttf') format('truetype');
    font-weight: normal;
}
@font-face {
    font-family: "Butler";
    src: url('/../font/Butler_Medium.woff2') format('woff2'),
        url('/../font/Butler_Medium.woff') format('woff'),
        url('/../font/Butler_Medium.ttf') format('truetype');
    font-weight: 500;
}
@font-face {
    font-family: "Butler";
    src: url('/../font/Butler_Bold.woff2') format('woff2'),
        url('/../font/Butler_Bold.woff') format('woff'),
        url('/../font/Butler_Bold.ttf') format('truetype');
    font-weight: bold;
}
@font-face {
    font-family: "Butler";
    src: url('/../font/Butler_ExtraBold.woff2') format('woff2'),
        url('/../font/Butler_ExtraBold.woff') format('woff'),
        url('/../font/Butler_ExtraBold.ttf') format('truetype');
    font-weight: 700;
}
@font-face {
    font-family: "Butler";
    src: url('/../font/Butler_Black.woff2') format('woff2'),
        url('/../font/Butler_Black.woff') format('woff'),
        url('/../font/Butler_Black.ttf') format('truetype');
    font-weight: 900;
}

// Font
.butler {
    font-family: $font-family-serif;
    font-weight: bold;
}

// Header
h1.custom,
.h1.custom {
    font-size: 110px;
}
h1.big,
.h1.big {
    font-size: 89px;
}
h1,
.h1 {
    font-size: 67px;
}
h2,
.h2 {
    font-size: 50px;
}
h3,
.h3 {
    font-size: 37px
}
h4,
.h4 {
    font-size: 28px;
}
h5,
.h5 {
    font-size: 24.5px;
}
h6,
.h6 {
    font-size: 21px;
}
p,
.p {
    font-size: 21px;
}
p.small,
.p.small {
    font-size: 18.5px;
}
p.smaller,
.p.smaller {
    font-size: 16px;
}
.line-height-1 {
    line-height: 1;
}

// Body
body {
    color: $darkblue!important;
}

// Colours
.darkblue {
    color: $darkblue!important;
}
.lightblue {
    color: lightblue!important;
}
.blue {
    color: $blue!important;
}
.white {
    color: white!important;
}
.bluepurple {
    color: $bluepurple!important;
}

// Position Absolute
.top50-left50-t-m50-m50 {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.top50-left0-t-0-m50 {
    top: 50%;
    left: 0%;
    transform: translate(0%, -50%);
}
.top0-left0-t-0-0 {
    top: 0%;
    left: 0%;
    transform: translate(0%, -0%);
}
.bottom0-left0-t-0-0 {
    bottom: 0%;
    left: 0%;
    transform: translate(0%, 0%);
}

// Button
.btn {
    display: inline-block;
    font-weight: 400;
    color: #212529;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 0.4rem 0.9rem;
    font-size: 0.9rem;
    line-height: 1.6;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.btn-primary {
    color: #fff;
    background-color: #1C253C;
    border-color: #1C253C;
}

.btn-primary:hover {
    color: #1C253C;
    background-color: transparent;
    border-color: #1C253C;
}

.btn-primary:focus,
.btn-primary.focus {
    color: #fff;
    background-color: #1C253C;
    border-color: #1C253C;
    box-shadow: 0 0 0 0rem rgba(0, 0, 0, 0);
}

.btn-primary.disabled,
.btn-primary:disabled {
    color: #fff;
    background-color: #1C253C;
    border-color: #1C253C;
}

.btn-primary:not(:disabled):not(.disabled):active,
.btn-primary:not(:disabled):not(.disabled).active,
.show>.btn-primary.dropdown-toggle {
    color: #fff;
    background-color: #1C253C;
    border-color: #1C253C;
}

.btn-primary:not(:disabled):not(.disabled):active:focus,
.btn-primary:not(:disabled):not(.disabled).active:focus,
.show>.btn-primary.dropdown-toggle:focus {
    box-shadow: 0 0 0 0rem rgba(0, 0, 0, 0);
}

.btn-primary-light {
    color: white;
    background-color: $blue;
    border-color: $blue;
}

.btn-primary-light:hover {
    color: $blue;
    background-color: transparent;
    border-color: $blue;
}

.btn-primary-light:focus,
.btn-primary-light.focus {
    color: white;
    background-color: $blue;
    border-color: $blue;
    box-shadow: 0 0 0 0rem rgba(0, 0, 0, 0);
}

.btn-primary-light.disabled,
.btn-primary-light:disabled {
    color: white;
    background-color: $blue;
    border-color: $blue;
}

.btn-primary-light:not(:disabled):not(.disabled):active,
.btn-primary-light:not(:disabled):not(.disabled).active,
.show>.btn-primary-light.dropdown-toggle {
    color: white;
    background-color: $blue;
    border-color: $blue;
}

.btn-primary-light:not(:disabled):not(.disabled):active:focus,
.btn-primary-light:not(:disabled):not(.disabled).active:focus,
.show>.btn-primary-light.dropdown-toggle:focus {
    box-shadow: 0 0 0 0rem rgba(0, 0, 0, 0);
}

.btn-secondary {
    color: $darkblue;
    background-color: $offwhite;
    border-color: $offwhite;
}

.btn-secondary:hover {
    color: $darkblue;
    background-color: transparent;
    border-color: $darkblue;
}

.btn-secondary:focus,
.btn-secondary.focus {
    color: $darkblue;
    background-color: $offwhite;
    border-color: $offwhite;
    box-shadow: 0 0 0 0rem rgba(0, 0, 0, 0);
}

.btn-secondary.disabled,
.btn-secondary:disabled {
    color: $darkblue;
    background-color: $offwhite;
    border-color: $offwhite;
}

.btn-secondary:not(:disabled):not(.disabled):active,
.btn-secondary:not(:disabled):not(.disabled).active,
.show>.btn-secondary.dropdown-toggle {
    color: $darkblue;
    background-color: $offwhite;
    border-color: $offwhite;
}

.btn-secondary:not(:disabled):not(.disabled):active:focus,
.btn-secondary:not(:disabled):not(.disabled).active:focus,
.show>.btn-secondary.dropdown-toggle:focus {
    box-shadow: 0 0 0 0rem rgba(0, 0, 0, 0);
}

.btn-tertiary {
    color: $darkblue;
    background-color: transparent;
    border-color: $darkblue;
}

.btn-tertiary:hover {
    color: #fff;
    background-color: $darkblue;
    border-color: $darkblue;
}

.btn-tertiary:focus,
.btn-tertiary.focus {
    color: $darkblue;
    background-color: transparent;
    border-color: $darkblue;
    box-shadow: 0 0 0 0rem rgba(0, 0, 0, 0);
}

.btn-tertiary.disabled,
.btn-tertiary:disabled {
    color: $darkblue;
    background-color: transparent;
    border-color: $darkblue;
}

.btn-tertiary:not(:disabled):not(.disabled):active,
.btn-tertiary:not(:disabled):not(.disabled).active,
.show>.btn-tertiary.dropdown-toggle {
    color: $darkblue;
    background-color: transparent;
    border-color: $darkblue;
}

.btn-tertiary:not(:disabled):not(.disabled):active:focus,
.btn-tertiary:not(:disabled):not(.disabled).active:focus,
.show>.btn-tertiary.dropdown-toggle:focus {
    box-shadow: 0 0 0 0rem rgba(0, 0, 0, 0);
}


// Navbar
.navbar-1 li {
    font-size: 16px;
}
.navbar-light .navbar-nav .nav-link,
.navbar-light .navbar-nav .nav-link:active,
.navbar-light .navbar-nav .nav-link:focus {
    color: $darkblue!important;
}
.navbar-light .navbar-nav .nav-link:hover {
    color: $lightblue!important;
}
@media (min-width: 992px) {
    .navbar-expand-lg .navbar-nav .nav-link {
        padding-right: 1rem;
        padding-left: 1rem;
    }
}

// Card
.card.card-shadow {
    border: 0px;
    box-shadow: 0 0 25px rgb(205, 205, 205);
}

// Background
.background-darkblue {
    background-color: $darkblue;
}
.background-paleblue {
    background-color: $paleblue;
}
.background-lightblue {
    background-color: $lightblue;
}
.background-white {
    background-color: $white;
}
.background-offwhite {
    background-color: $offwhite;
}
.g-background-blue-1 {
    background: rgba(26, 108, 182, 1);
    background: -moz-linear-gradient(90deg, rgba(246, 248, 255, 1) 0%, rgba(186, 203, 249, 1) 51%, rgba(26, 108, 182, 1) 82%);
    background: -webkit-linear-gradient(90deg, rgba(246, 248, 255, 1) 0%, rgba(186, 203, 249, 1) 51%, rgba(26, 108, 182, 1) 82%);
    background: linear-gradient(90deg, rgba(246, 248, 255, 1) 0%, rgba(186, 203, 249, 1) 51%, rgba(26, 108, 182, 1) 82%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#f6f8ff", endColorstr="#1a6cb6", GradientType=1);
}
.g-background-blue-2 {
    background: rgb(205, 217, 250);
    background: -moz-linear-gradient(90deg, rgba(205, 217, 250, 1) 16%, rgba(186, 203, 249, 1) 38%, rgba(186, 203, 249, 1) 90%);
    background: -webkit-linear-gradient(90deg, rgba(205, 217, 250, 1) 16%, rgba(186, 203, 249, 1) 38%, rgba(186, 203, 249, 1) 90%);
    background: linear-gradient(90deg, rgba(205, 217, 250, 1) 16%, rgba(186, 203, 249, 1) 38%, rgba(186, 203, 249, 1) 90%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#cdd9fa", endColorstr="#6c93fe", GradientType=1);
}

// Border
.border-darkblue {
    border: 1px solid $darkblue;
}
.border-lightblue {
    border: 1px solid $lightblue;
}

// Content - Recommended
.recommended {
    border: 3px solid $paleblue!important;
}
.not-recommended {
    border: 3px solid transparent!important;
}

// Nav Pills
.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
    color: #fff;
    background-color: $blue;
}

// Horizontal List-Group

.list-group-item.horizontal-featured {
    position: relative;
    display: block;
    padding: 0.9rem;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.125);
    font-size: 12px;
    line-height: 1;
}