// Typography
$font-family-sans-serif: 'Tw Cen MT', sans-serif;
$font-family-serif: 'Butler', serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colours
$colour1: #303BD0;
$colour2: #1C253C;
$colour3: #D0DAFF;

$blue: #3490dc;
$indigo: #6574cd;
$purple: purple;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;

//Back-up
$blue: #5974da;
$lightblue: #79b7ef;
$paleblue: #c3d2fa;
$offwhite: #f8fafc;

// Body
$body-bg: $offwhite;